.btn--fill {
  border-radius: 25px;
  font-size: 14px;
  padding: 13px 30px; }

* {
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif; }

a:hover {
  text-decoration: none; }

.bold {
  font-weight: 700; }

.semi-bold {
  font-weight: 600; }

.medium {
  font-weight: 500; }

.light {
  font-weight: 300; }

.wrap {
  max-width: 1200px;
  margin: 0 auto; }

.row-custom {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  flex-wrap: wrap; }

.pt-20 {
  padding-top: 20px; }

@media (max-width: 1140px) {
  .wrap {
    max-width: 1000px;
    padding: 0 40px; } }
@media (max-width: 992px) {
  .wrap {
    max-width: 960px; } }
@media (max-width: 767px) {
  .wrap {
    max-width: 720px;
    padding: 0 35px; } }
@media (max-width: 576px) {
  .wrap {
    max-width: 540px; } }
.header__main {
  position: relative; }
.header__line {
  display: block;
  background-color: #a1d1c2;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 20px; }
.header__border {
  background-color: #c9cccf;
  height: 1px; }

@media (max-width: 767px) {
  .header__line {
    padding: 5px 20px; } }
.sec1__text {
  padding: 63px 0 56px; }
.sec1__title {
  color: #009498;
  line-height: 56px; }
.sec1__subtitle {
  color: #999b9f;
  font-size: 18px;
  line-height: 41px; }
.sec1__icon {
  padding: 80px 0 71px; }

@media (max-width: 767px) {
  .sec1__icon {
    flex-direction: column; } }
.sec2 {
  background-color: #f8f9fa;
  padding: 79px 0 83px; }

.sec3__title {
  color: #04414e;
  padding: 84px 0 30px;
  text-align: center; }
.sec3__carousel {
  padding-bottom: 112px; }

.sec4 {
  background-color: #f8f9fa;
  padding: 79px 0 85px; }

.sec5__title {
  text-align: center;
  color: #04414e;
  font-size: 36px;
  padding: 67px 0 15px; }
.sec5__carousel {
  padding-bottom: 30px; }
.sec5__mb {
  display: none; }

@media (max-width: 1140px) {
  .sec5__pc {
    display: none; }
  .sec5__mb {
    display: flex;
    justify-content: center; } }
.footer__top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #009498;
  padding: 0 30px; }
.footer__text {
  text-align: center;
  display: inline-block;
  color: #ffffff;
  font-size: 24px;
  padding: 44px 0; }
.footer__link {
  padding: 34px 0;
  background-color: #04414e; }
.footer__wraplink {
  display: flex;
  justify-content: space-between;
  align-items: center; }
.footer__logo {
  width: 140px; }
.footer__listsocial {
  display: flex;
  justify-content: flex-end; }
.footer__listsocial img {
  width: 35px; }
.footer__social {
  margin-left: 21px; }
.footer__bottom {
  background-color: #02232a; }
.footer__copyright {
  padding: 13px 0;
  color: #c9cccf; }

@media (max-width: 767px) {
  .footer__top {
    flex-direction: column;
    padding: 0 30px 15px; }
  .footer__wraplink {
    flex-direction: column; }
  .footer__logo {
    display: block;
    margin: 0 auto; }
  .footer__listsocial {
    justify-content: center; } }
.btn--fill {
  background-color: #009498;
  color: #ffffff; }
.btn--white {
  background-color: #ffffff;
  color: #009498; }

.logo {
  width: 104px;
  height: auto; }

.wrapSearch {
  position: absolute;
  width: 70%;
  left: 15%;
  opacity: 1; }

.search {
  position: relative; }
  .search__input {
    border-radius: 23px;
    width: 100%;
    padding: 12px 22px;
    font-size: 14px;
    font-weight: 300;
    border: #c9cccf 1px solid; }
  .search__input:focus {
    outline: none; }
  .search__btn {
    position: absolute;
    top: 50%;
    right: 22px;
    transform: translateY(-50%);
    color: #009498; }

.searchMobile {
  display: none; }

.menuNav {
  display: none;
  transition-property: display;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out; }

@media (max-width: 767px) {
  .wrapSearch {
    opacity: 0; }

  .showSearch {
    opacity: 1;
    display: block;
    width: 100%;
    left: 0;
    top: 240%; }

  .showMenu {
    display: block !important; }

  .searchMobile {
    display: block;
    width: 100%;
    height: 0px;
    overflow: hidden;
    padding: 0 18px; }

  .searchClick {
    height: 130px;
    display: block !important; } }
.info {
  color: #595b61;
  font-size: 13px; }

.navbar--padding {
  padding: 15px 0 11px; }

.navlink {
  font-size: 13px;
  color: #04414e; }
  .navlink--white {
    color: #ffffff; }
  .navlink--fontnormal {
    font-size: 16px; }

.slider {
  height: 350px;
  justify-content: space-between; }
  .slider__text {
    padding: 91px 407px 85px 101px;
    text-align: left; }
  .slider__left {
    padding: 0;
    background-image: url(../img/section1/bg1.jpg);
    background-size: cover;
    flex: none;
    width: 100%; }
  .slider__title-left {
    font-size: 36px;
    color: #04414e; }
  .slider__subtitle-left {
    color: #999b9f; }
  .slider__right {
    flex: none;
    padding: 0;
    width: 100%;
    margin-left: 15px; }
  .slider__top {
    background-image: url(../img/section1/bg2.jpg);
    background-size: cover;
    padding: 32px 29px 31px 183px;
    text-align: left;
    height: 230px; }
  .slider__title-top {
    font-size: 24px;
    color: #04414e; }
  .slider__subtitle-top {
    color: #999b9f;
    font-size: 14px;
    margin-bottom: 6px; }
  .slider__bottom {
    height: 100px;
    margin-top: 20px;
    background-color: #009498;
    color: #ffffff;
    padding: 18px 56px;
    text-align: left;
    display: flex;
    align-items: center; }

.carousel-control-prev-icon--custom {
  background-image: url(../img/section1/back.svg); }

.carousel-control-next-icon--custom {
  background-image: url(../img/section1/next.svg); }

.carousel-control-prev--custom {
  width: 10%;
  left: -10%; }

.carousel-control-next--custom {
  width: 10%;
  left: 100%; }

.carousel-indicators--custom {
  bottom: -50px; }

.carousel-indicators--custom li {
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid #009498;
  border-radius: 50%;
  background-color: #a1d1c2;
  display: flex;
  opacity: 1;
  margin: 0 5px; }

.carousel-indicators--custom .active::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #009498;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }

.iconDetail {
  width: 315px;
  padding: 0;
  display: flex;
  align-items: center;
  text-align: left;
  flex: none; }
  .iconDetail__icon {
    width: 80px; }
  .iconDetail__des {
    color: #999b9f;
    padding-left: 16px; }

@media (max-width: 767px) {
  .iconDetail {
    width: 100%; }

  .iconDetail:not(:first-child) {
    padding-top: 10px; } }
.cardItem {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0 10px; }
  .cardItem__img {
    width: 100%;
    height: 238px;
    object-fit: cover; }
  .cardItem__body {
    height: 100%;
    padding: 16px 21px;
    display: flex;
    flex-direction: column; }
  .cardItem__title {
    font-size: 19px;
    color: #595b61; }
  .cardItem__subtitle {
    font-size: 14px;
    color: #999b9f; }
  .cardItem__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #595b61;
    padding-top: 10px; }
  .cardItem__text {
    min-height: 107px; }
  .cardItem__from {
    max-width: 42px;
    margin-left: auto; }

.cardNoImage {
  height: 100%;
  background-color: #ffffff;
  padding: 91px 76px 81px 82px;
  margin: 0 10px; }
  .cardNoImage__title {
    font-size: 36px;
    line-height: 45px;
    color: #04414e; }
  .cardNoImage__subtitle {
    color: #999b9f; }

.cardRow {
  display: flex;
  margin: 0 10px;
  background-color: #f8f9fa;
  height: 100%; }
  .cardRow__img {
    width: 101px;
    height: 100%;
    object-fit: cover; }
  .cardRow__body {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 8px 11px 16px 31px; }
  .cardRow__title {
    font-size: 19px;
    color: #04414e;
    min-height: 62px; }
  .cardRow__des {
    font-size: 14px;
    color: #999b9f;
    padding: 6px 0 21px; }
  .cardRow__link {
    color: #009498;
    font-size: 14px; }

.cardSquare {
  width: 183px;
  background-color: #ffffff; }
  .cardSquare__img {
    width: 100%;
    height: 183px;
    object-fit: cover; }
  .cardSquare__text {
    text-align: center;
    color: #595b61;
    padding: 16px; }

@media (max-width: 767px) {
  .cardSquare {
    margin: 0 auto; } }
.slick-prev:before,
.slick-next:before {
  color: #000 !important; }

.sliderSlick p {
  font-size: 2rem;
  font-weight: bold;
  line-height: 100px;
  color: #666;
  margin: 10px;
  text-align: center;
  background-color: #e0e0e0; }

.buttons {
  display: flex;
  justify-content: center; }

.buttons .button {
  margin: 8px;
  border: 1px solid #000;
  color: #000;
  padding: 8px;
  text-align: center;
  width: 8em;
  transition: all 300ms ease; }

.buttons .button:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  transition: all 300ms ease; }

.sliderSlick {
  width: 1200px;
  margin: 0 auto; }

.sliderSlick .cardSquare {
  width: 183px !important; }

.slick-prev:before,
.slick-next:before {
  color: #009498 !important;
  font-size: 32px; }

.slick-prev::before {
  content: url("../img/section1/back.svg"); }

.slick-next::before {
  content: url("../img/section1/next.svg"); }

.slick-prev {
  left: -4vw; }

.slick-next {
  right: -4vw; }

.slick-dots {
  display: none !important; }

.slick-next,
.slick-prev {
  top: calc(50% - 40px); }

.iconSocial {
  width: 35px;
  height: 35px;
  display: block;
  background-color: #009498;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .iconSocial__item {
    color: #ffffff;
    font-size: 20px; }

.navbar--c {
  padding: 15px 0 11px;
  margin: 0 -8px; }

.navbar-dark .navbar-nav .navlink-c {
  color: #04414e;
  font-size: 13px; }

.navbar-dark .navbar-nav .navlink-c:hover {
  color: #04414e; }

.navbar-nav--c {
  width: 100%;
  justify-content: space-between; }

.navbar-dark .icon--c {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(4, 65, 78, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.navbar-dark .icon--search {
  background-image: url("../img/header/search.svg"); }

.navbar-dark .btn--c {
  border-color: #009498; }

/*# sourceMappingURL=purity.css.map */
