.footer {
	&__top {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $dark-turquoise;
		padding: 0 30px;
	}

	&__text {
		text-align: center;
		display: inline-block;
		color: $white;
		font-size: 24px;
		padding: 44px 0;
	}

	&__link {
		padding: 34px 0;
		background-color: $black;
	}

	&__wraplink {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		width: 140px;
	}

	&__listsocial {
		display: flex;
		justify-content: flex-end;
	}

	&__listsocial img {
		width: 35px;
	}

	&__social {
		margin-left: 21px;
	}

	// &__nav {
	// 	width: 630px;
	// }

	&__bottom {
		background-color: $true-black;
	}

	&__copyright {
		padding: 13px 0;
		color: $gray-light;
	}
}

@media (max-width: 767px) {
	.footer {
		&__top {
			flex-direction: column;
			padding: 0 30px 15px;
		}

		&__wraplink {
			flex-direction: column;
		}

		&__logo {
			display: block;
			margin: 0 auto;
		}

		&__listsocial {
			justify-content: center;
		}
	}
}
