.header {
	&__main {
		position: relative;
	}

	&__line {
		display: block;
		background-color: $turquoise;
		//height: 33px;
		font-size: 15px;
		font-weight: 500;
		padding: 5px 20px;
	}

	&__border {
		background-color: $gray-light;
		height: 1px;
	}
}

@media (max-width: 767px) {
	.header {
		&__line {
			padding: 5px 20px;
		}
	}
}
