.sec1 {
	&__text {
		padding: 63px 0 56px;
	}
	&__title {
		color: $dark-turquoise;
		line-height: 56px;
	}

	&__subtitle {
		color: $gray;
		font-size: 18px;
		line-height: 41px;
	}

	&__icon {
		padding: 80px 0 71px;
	}
}

@media (max-width: 767px) {
	.sec1 {
		&__icon {
			flex-direction: column;
		}
	}
}
