.sec5 {
	&__title {
		text-align: center;
		color: $black;
		font-size: 36px;
		padding: 67px 0 15px;
	}

	&__carousel {
		padding-bottom: 30px;
	}

	&__mb {
		display: none;
	}
}

@media (max-width: 1140px) {
	.sec5 {
		&__pc {
			display: none;
		}
		&__mb {
			display: flex;
			justify-content: center;
		}
	}
}
