.cardRow {
	display: flex;
	margin: 0 10px;
	background-color: $gray-light-extra;
	height: 100%;

	&__img {
		width: 101px;
		height: 100%;
		object-fit: cover;
	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		align-content: space-between;
		padding: 8px 11px 16px 31px;
	}

	&__title {
		font-size: 19px;
		color: $black;
		min-height: 62px;
	}

	&__des {
		font-size: 14px;
		color: $gray;
		padding: 6px 0 21px;
	}

	&__link {
		color: $dark-turquoise;
		font-size: 14px;
	}
}
