.cardItem {
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: $white;
	margin: 0 10px;

	&__img {
		width: 100%;
		height: 238px;
		object-fit: cover;
	}

	&__body {
		height: 100%;
		padding: 16px 21px;
		display: flex;
		flex-direction: column;
		//flex-wrap: wrap;
		//align-content: space-between;
	}

	&__title {
		font-size: 19px;
		color: $black-light;
	}

	&__subtitle {
		font-size: 14px;
		color: $gray;
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: $black-light;
		padding-top: 10px;
	}

	&__text {
		min-height: 107px;
	}

	&__price {
	}

	&__from {
		max-width: 42px;
		margin-left: auto;
	}
}
