.cardSquare {
	width: 183px;
	background-color: $white;
	&__img {
		width: 100%;
		height: 183px;
		object-fit: cover;
	}

	&__text {
		text-align: center;
		color: $black-light;
		padding: 16px;
	}
}

@media (max-width: 767px) {
	.cardSquare {
		margin: 0 auto;
	}
}
