.cardNoImage {
	height: 100%;
	background-color: $white;
	padding: 91px 76px 81px 82px;
	margin: 0 10px;

	&__title {
		font-size: 36px;
		line-height: 45px;
		color: $black;
	}

	&__subtitle {
		color: $gray;
	}
}
