.navbar {
	&--c {
		padding: 15px 0 11px;
		margin: 0 -8px;
	}
}

.navbar-dark .navbar-nav .navlink-c {
	color: $black;
	font-size: 13px;
}

.navbar-dark .navbar-nav .navlink-c:hover {
	color: $black;
}

.navbar-nav {
	&--c {
		width: 100%;
		justify-content: space-between;
	}
}

.navbar-dark .icon--c {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(4, 65, 78, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .icon--search {
	background-image: url("../img/header/search.svg");
}

.navbar-dark .btn--c {
	border-color: $dark-turquoise;
}
