.slick-prev:before,
.slick-next:before {
	color: #000 !important;
}

.sliderSlick p {
	font-size: 2rem;
	font-weight: bold;
	line-height: 100px;
	color: #666;
	margin: 10px;
	text-align: center;
	background-color: #e0e0e0;
}

.buttons {
	display: flex;
	justify-content: center;
}

.buttons .button {
	margin: 8px;
	border: 1px solid #000;
	color: #000;
	padding: 8px;
	text-align: center;
	width: 8em;
	transition: all 300ms ease;
}

.buttons .button:hover {
	cursor: pointer;
	background-color: #000;
	color: #fff;
	transition: all 300ms ease;
}

.sliderSlick {
	width: 1200px;
	margin: 0 auto;
}

.sliderSlick .cardSquare {
	width: 183px !important;
}

.slick-prev:before,
.slick-next:before {
	color: $dark-turquoise !important;
	font-size: 32px;
}

.slick-prev::before {
	content: url("../img/section1/back.svg");
}

.slick-next::before {
	content: url("../img/section1/next.svg");
}

.slick-prev {
	left: -4vw;
}

.slick-next {
	right: -4vw;
}

.slick-dots {
	display: none !important;
}

.slick-next,
.slick-prev {
	top: calc(50% - 40px);
}
