.iconDetail {
	width: 315px;
	padding: 0;
	display: flex;
	align-items: center;
	text-align: left;
	flex: none;
	&__icon {
		width: 80px;
	}

	&__des {
		color: $gray;
		padding-left: 16px;
		//width: 205px;
	}
}

@media (max-width: 767px) {
	.iconDetail {
		width: 100%;
	}
	.iconDetail:not(:first-child) {
		padding-top: 10px;
	}
}
