.wrapSearch {
	position: absolute;
	width: 70%;
	left: 15%;
	opacity: 1;
}

.search {
	position: relative;

	&__input {
		border-radius: 23px;
		width: 100%;
		padding: 12px 22px;
		font-size: 14px;
		font-weight: 300;
		border: $gray-light 1px solid;
	}

	&__input:focus {
		outline: none;
	}

	&__btn {
		position: absolute;
		top: 50%;
		right: 22px;
		transform: translateY(-50%);
		color: $dark-turquoise;
	}
}

.searchMobile {
	display: none;
}

.menuNav {
	display: none;
	transition-property: display;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

@media (max-width: 767px) {
	.wrapSearch {
		opacity: 0;
	}
	.showSearch {
		opacity: 1;
		display: block;
		width: 100%;
		left: 0;
		top: 240%;
		// transition-property: opacity;
		// transition-duration: 0.1s;
		// transition-delay: 0.3s;
		// transition-timing-function: ease-in-out;
	}

	.showMenu {
		display: block !important;
	}

	.searchMobile {
		display: block;
		width: 100%;
		height: 0px;
		overflow: hidden;
		padding: 0 18px;
		// transition-property: height;
		// transition-duration: 0.2s;
		// transition-delay: 0ms;
		// transition-timing-function: ease-in-out;
	}

	.searchClick {
		height: 130px;
		display: block !important;
	}
}
