.slider {
	height: 350px;
	justify-content: space-between;
	&__text {
		padding: 91px 407px 85px 101px;
		text-align: left;
	}

	&__left {
		padding: 0;
		background-image: url(../img/section1/bg1.jpg);
		background-size: cover;
		flex: none;
		//margin-right: 20px;
		width: 100%;
	}

	&__title-left {
		font-size: 36px;
		color: $black;
	}

	&__subtitle-left {
		color: $gray;
	}

	&__right {
		flex: none;
		padding: 0;
		width: 100%;
		margin-left: 15px;
	}

	&__top {
		background-image: url(../img/section1/bg2.jpg);
		background-size: cover;
		padding: 32px 29px 31px 183px;
		text-align: left;
		height: 230px;
	}

	&__title-top {
		font-size: 24px;
		color: $black;
	}

	&__subtitle-top {
		color: $gray;
		font-size: 14px;
		margin-bottom: 6px;
	}

	&__bottom {
		height: 100px;
		margin-top: 20px;
		background-color: $dark-turquoise;
		color: $white;
		padding: 18px 56px;
		text-align: left;
		display: flex;
		align-items: center;
	}
}

.carousel-control-prev-icon--custom {
	background-image: url(../img/section1/back.svg);
}

.carousel-control-next-icon--custom {
	background-image: url(../img/section1/next.svg);
}

.carousel-control-prev--custom {
	width: 10%;
	left: -10%;
}

.carousel-control-next--custom {
	width: 10%;
	left: 100%;
}

.carousel-indicators--custom {
	bottom: -50px;
}

.carousel-indicators--custom li {
	position: relative;
	width: 12px;
	height: 12px;
	border: 2px solid $dark-turquoise;
	border-radius: 50%;
	background-color: $turquoise;
	display: flex;
	opacity: 1;
	margin: 0 5px;
}

.carousel-indicators--custom .active::before {
	content: "";
	display: flex;
	justify-content: center;
	align-items: center;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: $dark-turquoise;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
