* {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}

a:hover {
	text-decoration: none;
}

.bold {
	font-weight: 700;
}

.semi-bold {
	font-weight: 600;
}

.medium {
	font-weight: 500;
}

.light {
	font-weight: 300;
}

.wrap {
	max-width: 1200px;
	margin: 0 auto;
}

.row-custom {
	display: flex;
	margin-left: -10px;
	margin-right: -10px;
	flex-wrap: wrap;
}

.pt-20 {
	padding-top: 20px;
}

@media (max-width: 1140px) {
	.wrap {
		max-width: 1000px;
		padding: 0 40px;
	}
}

@media (max-width: 992px) {
	.wrap {
		max-width: 960px;
	}
}

@media (max-width: 767px) {
	.wrap {
		max-width: 720px;
		padding: 0 35px;
	}
}

@media (max-width: 576px) {
	.wrap {
		max-width: 540px;
	}
}
