@mixin text($font-size, $font-family, $line-height, $color) {
	font: {
		size: $font-size;
		family: $font-family;
	}
	line-height: $line-height;
	color: $color;
}

@mixin circle($size, $color) {
	width: $size;
	height: $size;
	display: block;
	background-color: $color;
	border-radius: 50%;
}
